[build]
  base = "client/"
  publish = "out/"
  command = "npm install && npm run build"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20"
  NEXT_PUBLIC_API_BASE_URL = "https://crypto-r29t.onrender.com"
  NEXT_PUBLIC_WS_BASE_URL = "wss://crypto-r29t.onrender.com/ws"

[functions]
  included_files = ["client/.next/server/**/*"]

[[redirects]]
  from = "/api/*"
  to = "https://crypto-r29t.onrender.com/api/:splat"
  status = 200

[[redirects]]
  from = "/ws/*"
  to = "wss://crypto-r29t.onrender.com/ws/:splat"
  status = 200